@model Panda
<a href="/">Home</a>
<br><br>

<form action ="/update/@Model.PandaId"method ="post">
    <h5>Type</h5><input type="text" name="Type" class="form-control" value="@Model.Type" />
    <h5>Location</h5><input type="text" name="Location" class="form-control" value="@Model.Location" />
    <h5>Cuteness</h5><select class="form-control" name="Cuteness" value="@Model.Cuteness">
            @for(int i=1; i<6; i++)
        {
            if(Model.Cuteness == i)
            {
                <option selected="selected">@i</option>
            }
            else
            {
                <option>@i</option>
            }
        }
    </select > 
    <h5>Weight</h5><input type="number" name="Weight" class="form-control" min="10" value="@Model.Weight" />
    <h5>Description</h5><textarea name ="Description" placeholder="Description" class="form-control">@Model.Description</textarea>
    <input type="submit" value = "Update" class="btn btn-success" />
</form>
<form action="/delete/@Model.PandaId" method="post">
    <input type="submit" value = "Delete" class="btn btn-danger" />
</form>
